<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/common :: meta_header('編集', ~{::link}, ~{::script})">
<link rel="stylesheet" th:href="@{/css/top.css}">
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>

<body>
	<div th:replace="commons/common :: header"></div>

	<div class="container px-4 py-5" id="featured-3" th:object="${editForm}">
		<h2 class="pb-2 border-bottom" th:text="${editForm.id == null} ? 新規登録 : 編集 ">編集</h2>

		<form id="form_edit" action="/edit/register" method="post">
			<div class="row bg-danger p-2 p-sm-5 rounded" th:if="*{errMsg}" th:utext="*{errMsg}">データ登録時のエラーメッセージ</div>
			<table class="row pt-2 col-4 text-nowrap table table-bordered">
				<tr th:if="*{id}">
					<th class="table-primary">ID</th>
					<td class="w-75">
						<span th:text="*{id}">1</span>
						<input type="hidden" th:field="*{id}">
					</td>
				</tr>
				<tr>
					<th class="table-primary">全国ナンバー</th>
					<td class="w-75">
						<input type="text" name="name" class="w-100" th:field="*{nationalPokedex}">
						<div th:if="${#fields.hasErrors('nationalPokedex')}" th:errors="*{nationalPokedex}">エラーメッセージ</div>
					</td>
				</tr>
				<tr>
					<th class="table-primary">名前</th>
					<td class="w-75">
						<input type="text" name="name" class="w-100" th:field="*{name}">
						<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラーメッセージ</div>
					</td>
				</tr>
				<tr>
					<th class="table-primary">属性</th>
					<td>
						<select name="type1" th:field="*{type1}">
							<option value=""></option>
							<option value="ノーマル">ノーマル</option>
							<option value="ほのお">ほのお</option>
							<option value="みず">みず</option>
							<option value="でんき">でんき</option>
							<option value="くさ">くさ</option>
							<option value="こおり">こおり</option>
							<option value="かくとう">かくとう</option>
							<option value="どく">どく</option>
							<option value="じめん">じめん</option>
							<option value="ひこう">ひこう</option>
							<option value="エスパー">エスパー</option>
							<option value="むし">むし</option>
							<option value="いわ">いわ</option>
							<option value="ゴースト">ゴースト</option>
							<option value="ドラゴン">ドラゴン</option>
						</select>
						<div th:if="${#fields.hasErrors('type1')}" th:errors="*{type1}">エラーメッセージ</div>
					</td>
				</tr>
				<tr>
					<th class="table-primary">属性2</th>
					<td>
						<select name="type2" th:field="*{type2}">
							<option value=""></option>
							<option value="ノーマル">ノーマル</option>
							<option value="ほのお">ほのお</option>
							<option value="みず">みず</option>
							<option value="でんき">でんき</option>
							<option value="くさ">くさ</option>
							<option value="こおり">こおり</option>
							<option value="かくとう">かくとう</option>
							<option value="どく">どく</option>
							<option value="じめん">じめん</option>
							<option value="ひこう">ひこう</option>
							<option value="エスパー">エスパー</option>
							<option value="むし">むし</option>
							<option value="いわ">いわ</option>
							<option value="ゴースト">ゴースト</option>
							<option value="ドラゴン">ドラゴン</option>
						</select>
					</td>
				</tr>
			</table>
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>

		<div class="row pt-1 ps-2">
			<button id="btn_edit" class="btn btn-primary col-4 w-25">登録</button>
			<button id="btn_delete" class="btn btn-danger col-4 ms-4 w-25" th:if="*{id}">削除</button>
		</div>
	</div>
</body>

<script>
	/* 登録ボタン */
	let btn_edit = document.getElementById('btn_edit');
	btn_edit.addEventListener('click', () => {
		let form_edit = document.getElementById('form_edit');
		form_edit.action = '/edit/edit';
		form_edit.submit();
	});
	
	/* 削除ボタン */
	let btn_delete = document.getElementById('btn_delete');
	btn_delete.addEventListener('click', () => {
		let form_edit = document.getElementById('form_edit');
		form_edit.action = '/edit/delete';
		form_edit.submit();
	});
</script>