<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="thymeleaf/commons/common :: meta_header('検索', ~{::link}, ~{::script})">
<link rel="stylesheet" th:href="@{/css/top.css}">
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>

<body>
	<div th:replace="thymeleaf/commons/common :: header"></div>

	<div class="container px-4 py-5" id="featured-3">

		<h2 class="pb-2 border-bottom">検索</h2>
		<form action="search" method="get" th:object="${searchForm}">
			<table class="row pt-2 col-4 text-nowrap table table-bordered">
				<tr>
					<th class="table-primary">名前</th>
					<td class="w-75">
						<input type="text" name="name" class="w-100" th:field="*{name}">
					</td>
				</tr>
				<tr>
					<th class="table-primary">属性</th>
					<td>
						<select name="type1" th:field="*{type1}">
							<option value=""></option>
							<option value="ノーマル">ノーマル</option>
							<option value="ほのお">ほのお</option>
							<option value="みず">みず</option>
							<option value="でんき">でんき</option>
							<option value="くさ">くさ</option>
							<option value="こおり">こおり</option>
							<option value="かくとう">かくとう</option>
							<option value="どく">どく</option>
							<option value="じめん">じめん</option>
							<option value="ひこう">ひこう</option>
							<option value="エスパー">エスパー</option>
							<option value="むし">むし</option>
							<option value="いわ">いわ</option>
							<option value="ゴースト">ゴースト</option>
							<option value="ドラゴン">ドラゴン</option>
						</select>
					</td>
				</tr>
				<tr>
					<th class="table-primary">属性2</th>
					<td>
						<select name="type2" th:field="*{type2}">
							<option value=""></option>
							<option value="ノーマル">ノーマル</option>
							<option value="ほのお">ほのお</option>
							<option value="みず">みず</option>
							<option value="でんき">でんき</option>
							<option value="くさ">くさ</option>
							<option value="こおり">こおり</option>
							<option value="かくとう">かくとう</option>
							<option value="どく">どく</option>
							<option value="じめん">じめん</option>
							<option value="ひこう">ひこう</option>
							<option value="エスパー">エスパー</option>
							<option value="むし">むし</option>
							<option value="いわ">いわ</option>
							<option value="ゴースト">ゴースト</option>
							<option value="ドラゴン">ドラゴン</option>
						</select>
					</td>
				</tr>
			</table>

			<div class="row pt-1 ps-2">
				<button class="btn btn-primary col-4 w-25">検索</button>
			</div>
		</form>

		<h2 class="pb-2 border-bottom pt-5">結果</h2>

		<form action="/edit" class="row justify-content-end pe-3">
			<button class="btn btn-primary w-25">新規登録</button>
		</form>

		<div class="table-responsive pt-2">
			<table class="table table-striped" th:object="${searchForm}">
				<thead class="table-primary">
					<tr>
						<th scope="col">全国ナンバー</th>
						<th scope="col">名前</th>
						<th scope="col">タイプ1</th>
						<th scope="col">タイプ2</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="*{mstPokemonList}" th:each="poke : *{mstPokemonList}">
						<th scope="row" th:text="${poke.nationalPokedex}"></th>
						<td>
							<a th:text="${poke.name}" th:href="@{/edit(id=${poke.id})}">test</a>
						</td>
						<td th:text="${poke.type1}"></td>
						<td th:text="${poke.type2}"></td>
					</tr>
					<tr th:unless=*{mstPokemonList}>
						<th scope="row">1</th>
						<td>
							<a href="/mock/edit">フシギダネ</a>
						</td>
						<td>くさ</td>
						<td>どく</td>
					</tr>
					<tr th:unless=*{mstPokemonList}>
						<th scope="row">4</th>
						<td>
							<a href="/mock/edit">ヒトカゲ</a>
						</td>
						<td>ほのお</td>
						<td></td>
					</tr>
					<tr th:unless=*{mstPokemonList}>
						<th scope="row">7</th>
						<td>
							<a href="/mock/edit">ゼニガメ</a>
						</td>
						<td>みず</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>